<?xml version="1.0" encoding="UTF-8"?>
	<configuration> 
		<appSettings>
			<add key="AkamaiCCUUserName" value="user@domain.com" />
			<add key="AkamaiCCUPassword" value="password" />
			<add key="AkamaiCCUEmail" value="email-notification:notify@domain.com" />
			<add key="AkamaiCCUAction" value="action:remove" />
			<add key="AkamaiCCUType" value="type:arl" />
			<add key="AkamaiCCUDomain" value="domain:production" />
		</appSettings>
	</configuration>
</xml>